{% extends 'base.html' %}

{% block main_content %}
    <section>
        <div>
            <h1>
                Are you sure you want to delete this post?
            </h1>
            <form action="{% url 'post_delete' pk=posts.id slug=posts.slug %}" method="post" enctype="multipart/form-data">

                <button type="submit">DELETE</button>
                or <a href="javascript:history.back()">Go Back</a>
                {% csrf_token %}
            </form>

        </div>
    </section>
{% endblock %}