{% extends 'base.html' %}

{% block main_content %}
    <section>
        <div>
            <h1>
                Are you sure you want to delete this folder? All flashcards in the folder will also be deleted.
            </h1>
            <form action="{% url 'folder_delete' pk=folders.id slug=folders.slug %}" method="post">

                <button type="submit">DELETE</button>
                or <a href="javascript:history.back()">Go Back</a>
                {% csrf_token %}
            </form>

        </div>
    </section>
{% endblock %}