{% extends 'base.html' %}

{% block main_content %}
    <section>
        <ul>
            {% for card in flashcards %}
                    <li>
                        {% if card.question %}
                            <p>
                                {{ card.question }}
                            </p>
                        {% endif %}
                        {% if card.question_picture.url != null %}
                            <p>
                                <img src="{{ card.question_picture.url }}" alt="{{ card.question_picture.name }}" style="width:300px; height:300px; object-fit: contain">
                            </p>
                        {% endif %}
                        {% if card.profile_id is not null %}
        {#                TODO: make it have a pen icon #}
                            <a href="{% url 'flashcard_edit' pk=card.id slug=card.slug  %}">Edit card</a>
        {#                TODO: make it have a bin icon #}
                            <a href="{% url 'flashcard_delete' pk=card.id slug=card.slug %}">Delete card</a>
                        {% endif %}
                    </li>
            {% endfor %}
        </ul>
    </section>
{% endblock %}