{% extends 'base.html' %}

{% block main_content %}
    <section>
        <h2>Edit Profile</h2>
        <form action="{% url 'profile_editing' slug=request.user.profile.slug %}" method="post" enctype="multipart/form-data">
            {{ form.as_p }}

            <button type="submit">Edit</button>
            <a href="{% url 'profile_delete' slug=request.user.profile.slug %}">Delete Profile</a>
            or <a href="javascript:history.back()">Go Back</a>
{#            TODO: make delete profile red #}

            {% csrf_token %}
        </form>
    </section>
{% endblock %}