{% extends 'base.html' %}

{% load custom_filters %}

{% block main_content %}
    <section>
        <div>
            <form action="{% url "profile_creation" %}" method="post">
                <p>
                    Username:
                    {{ form.Username|placeholder:"Username" }}
                </p>
                <p>
                    Email:
                    {{ form.email|placeholder:"Email" }}
                </p>
                <p>
                    Password:
                    {{ form.password1|placeholder:"Password" }}
                </p>
                <p>
                    Confirm password:
                    {{ form.password2|placeholder:"Confirm Password" }}
                </p>
{#                TODO: fix error message#}

                {% if form.is_bound %}
                    {% if form.errors %}
                        <ul>
                        {% for field in form %}
                            {% for error in field.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        {% endfor %}
                        </ul>
                    {% endif %}
                {% endif %}

                <button type="submit">Sign Up</button>
                or <a href="{% url 'login' %}">Already have account?</a>

                {% csrf_token %}
            </form>
        </div>
    </section>
{% endblock %}