{% extends 'base.html' %}

{% load custom_filters %}

{% block main_content %}
    <section>
        <div>
            <form action="{% url "profile_creation" %}" method="post">
                <p>
                    Username:
                    {{ form.Username|placeholder:"Username" }}
                    {{ form.Username.errors }}
                </p>
                <p>
                    Email:
                    {{ form.email|placeholder:"Email" }}
                    {{ form.email.errors }}
                </p>
                <p>
                    Password:
                    {{ form.password1|placeholder:"Password" }}
                    {{ form.password1.errors }}
                </p>
                <p>
                    Confirm password:
                    {{ form.password2|placeholder:"Confirm Password" }}
                    {{ form.password2.errors }}
                </p>
{#                TODO: fix error message#}

                <button>Sign Up</button>
                or <a href="{% url 'login' %}">Already have account?</a>

                {% csrf_token %}
            </form>
        </div>
    </section>
{% endblock %}